In [80]:
import pandas as pd
import numpy as np
import re

In [81]:
data=pd.read_csv("/content/tbilisi.csv")

In [82]:
data

                                                  links      reviews
0                                                   NaN          NaN
1                                                   NaN          NaN
2     https://www.booking.com/hotel/ge/black-fox-old...    6 reviews
3                                                   NaN          NaN
4     https://www.booking.com/hotel/ge/address-9d-t-...  271 reviews
...                                                 ...          ...
1745  https://www.booking.com/hotel/ge/modely-hostel...   27 reviews
1746  https://www.booking.com/hotel/ge/bacho-39-s-ap...    2 reviews
1747  https://www.booking.com/hotel/ge/your-hostel-t...  162 reviews
1748  https://www.booking.com/hotel/ge/avenue-106.ht...   59 reviews
1749                                                NaN          NaN

[1750 rows x 2 columns]

In [83]:
data.isnull().sum()

links      550
reviews    598
dtype: int64

In [84]:
df=data.dropna(how='all', axis=0)

In [85]:
df.isnull().sum()

links       0
reviews    48
dtype: int64

In [86]:
tblisi=df.dropna(how='any', axis=0)

In [87]:
tblisi.isnull().sum()

links      0
reviews    0
dtype: int64

In [88]:
tblisi.reset_index(drop=True, inplace=True)

In [89]:
tblisi.shape

(1152, 2)

In [90]:
tblisi.head()

                                               links      reviews
0  https://www.booking.com/hotel/ge/black-fox-old...    6 reviews
1  https://www.booking.com/hotel/ge/address-9d-t-...  271 reviews
2  https://www.booking.com/hotel/ge/costa.html?la...  147 reviews
3  https://www.booking.com/hotel/ge/blue-balcony-...   45 reviews
4  https://www.booking.com/hotel/ge/at-funicular....  582 reviews

In [91]:
tblisi.reviews=tblisi.reviews.str.replace('reviews|review|,|external', '')

<ipython-input-91-31bd8dd065d6>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  tblisi.reviews=tblisi.reviews.str.replace('reviews|review|,|external', '')
/usr/local/lib/python3.9/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [92]:
tblisi

                                                  links reviews
0     https://www.booking.com/hotel/ge/black-fox-old...      6
1     https://www.booking.com/hotel/ge/address-9d-t-...    271
2     https://www.booking.com/hotel/ge/costa.html?la...    147
3     https://www.booking.com/hotel/ge/blue-balcony-...     45
4     https://www.booking.com/hotel/ge/at-funicular....    582
...                                                 ...     ...
1147  https://www.booking.com/hotel/ge/adamo.html?la...    792
1148  https://www.booking.com/hotel/ge/modely-hostel...     27
1149  https://www.booking.com/hotel/ge/bacho-39-s-ap...      2
1150  https://www.booking.com/hotel/ge/your-hostel-t...    162
1151  https://www.booking.com/hotel/ge/avenue-106.ht...     59

[1152 rows x 2 columns]

In [93]:
tblisi.reviews=tblisi.reviews.astype('int32')

/usr/local/lib/python3.9/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [94]:
tblisi.dtypes

links      object
reviews     int32
dtype: object

In [95]:
tblisi.reviews.sum()

204287