In [21]:
import pandas as pd
import numpy as np
import re

In [22]:
data=pd.read_csv("/content/results.csv")

In [23]:
data

                                                  links        reviews
0                                                   NaN            NaN
1                                                   NaN            NaN
2     https://www.booking.com/hotel/az/smith-boutiqu...      8 reviews
3                                                   NaN            NaN
4     https://www.booking.com/hotel/az/the-merchant-...  1,264 reviews
...                                                 ...            ...
1405  https://www.booking.com/hotel/az/admiral.html?...     39 reviews
1406                                                NaN            NaN
1407  https://www.booking.com/hotel/az/ivy-garden-ba...    357 reviews
1408  https://www.booking.com/hotel/az/baku-romantik...     13 reviews
1409                                                NaN            NaN

[1410 rows x 2 columns]

In [24]:
data.isnull().sum()

links      450
reviews    765
dtype: int64

In [25]:
df=data.dropna(how='all', axis=0)

In [26]:
df.isnull().sum()

links        0
reviews    315
dtype: int64

In [27]:
baku=df.dropna(how='any', axis=0)

In [28]:
baku.isnull().sum()

links      0
reviews    0
dtype: int64

In [29]:
baku.reset_index(drop=True, inplace=True)

In [30]:
baku.shape

(645, 2)

In [31]:
baku.head()

                                               links        reviews
0  https://www.booking.com/hotel/az/smith-boutiqu...      8 reviews
1  https://www.booking.com/hotel/az/the-merchant-...  1,264 reviews
2  https://www.booking.com/hotel/az/sabir-ogli-gu...  1,068 reviews
3  https://www.booking.com/hotel/az/sahil-hostel-...    736 reviews
4  https://www.booking.com/hotel/az/30-rooms.html...    511 reviews

In [52]:
baku.reviews=baku.reviews.str.replace('reviews|review|,|external', '')

<ipython-input-52-2bb69f70fe9b>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  baku.reviews=baku.reviews.str.replace('reviews|review|,|external', '')
/usr/local/lib/python3.9/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [53]:
baku

                                                 links reviews
0    https://www.booking.com/hotel/az/smith-boutiqu...      8
1    https://www.booking.com/hotel/az/the-merchant-...   1264
2    https://www.booking.com/hotel/az/sabir-ogli-gu...   1068
3    https://www.booking.com/hotel/az/sahil-hostel-...    736
4    https://www.booking.com/hotel/az/30-rooms.html...    511
..                                                 ...     ...
640  https://www.booking.com/hotel/az/town-gates.ht...     61
641  https://www.booking.com/hotel/az/central-baku-...     15
642  https://www.booking.com/hotel/az/admiral.html?...     39
643  https://www.booking.com/hotel/az/ivy-garden-ba...    357
644  https://www.booking.com/hotel/az/baku-romantik...     13

[645 rows x 2 columns]

In [56]:
baku.reviews.astype('int32')

0         8
1      1264
2      1068
3       736
4       511
       ...
640      61
641      15
642      39
643     357
644      13
Name: reviews, Length: 645, dtype: int32

In [57]:
baku.dtypes

links      object
reviews     int32
dtype: object

In [58]:
baku.reviews.sum()

72398